.admin-style {
    display: grid;
    grid-template-columns: 15% 85%;
    color: #333333;
}

.admin-style .nav-admin {
    background-color: #1e282c;
    font-size: 25px;
    height: 100vh;
}

.admin-style #go-homepage {
    text-decoration: none;
    font-size: 25px;
}

.admin-style .title-page-admin {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
    font-size: 40px;
    padding: 20px;
}